body { background-color:  #362d3c ; 

}

.title { background-color:  #362d3c ;
		font-family: 'Roboto Mono', monospace;
			font-size: 100%;
			color: whitesmoke;
			padding: 3%;			
}

table{
	border: solid 2px whitesmoke;
}

.titoli {font-family: 'Roboto Mono', monospace;
			font-size: 100%;
			color: whitesmoke;
			font-weight: 900;
			padding: 3%;
}

.Commands { 
		font-family: 'Roboto Mono', monospace;
		font-size: 100%;
		font-weight: 500;
		color: darkorange;
		padding: 5%;
		width: 20%;



}

.description {font-family: 'Roboto Mono', monospace;
		font-size: 100%;
		color: whitesmoke;
		padding: 3%;
		width: 45%%;
}

#h1 {
		font-size: 100%;
}



.prompt { 	background-color: black;
			color: whitesmoke;
			font-family: 'Courier New', monospace;
			width: 33%;
			font-size: 16px;
}
