body { background-color:  #362d3c ; 

}

.title { background-color:  #362d3c ;
			font-family: verdana, sans-serif;
			font-size: 100%;
			color: whitesmoke;
			display: flex;
			padding: 1%;			
}

.maincont {
			display: flex;	
			height: 90%;		
}


.left { display: flex;
		flex-direction:  column;
		justify-content: space-between;
		font-family: verdana, sans-serif;
		font-size: 50%;
		color: darkorange;
		padding: 5%;
		flex: 1;
		height: 230%;
		margin-top: 0;

}

#h1 {
		font-size: 100%;
}


.right {
		display: flex;
		flex-direction:  column;
		justify-content: space-between ;
		font-family: verdana, sans-serif;
		font-size: 50%;
		color: lightgray;
		flex: 7;
		padding: 5%;
		height: 130%;
}

.prompt { 	background-color: black;
			color: whitesmoke;
			font-family: 'Courier New', monospace;
			width: 60%;
			font-size: 12px;
}
